{{template "header" .}}	
<title>登录</title>
</head>
<body>
<div class="container" style="margin:150px;width:500px">
	<form method="POST" action="/login">
		<div class="form-group">
			<label>用户</label>
			<input class="form-control" type="" name="UserName" placeholder="请输入用户名" >
		</div>
		<div class="form-group">
			<label>密码</label>
			<input class="form-control" type="password" name="PassWord" placeholder="请输入密码" >
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" name="AutoLogin">自动登录
			</label>
		</div>
		<button class="btn-default" type="submit">登录</button>
	</form>
</div>
</body>
</html>
