<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="refresh" content="3;url=/login">
<title>Insert title here</title>
<script type="text/javascript">
	function info() {
	//循环执行,1秒执行一次
		window.setInterval("daojishi()", 1000);
	}
	function daojishi() {
		if(document.getElementById("msg").innerHTML!=1){
			document.getElementById("msg").innerHTML=document.getElementById("msg").innerHTML-1;
		}
	}
</script>
</head>
<body onload="info()" align="center" style="margin-top:200px">
用户名或密码错误,</h1><span id="msg">3</span>秒返回登录页面
</body>
</html>
